
header {
    background-color: #b2b2b2;
}

h1 {
    font-variant: all-petite-caps;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
}

h2 {
    font-variant: all-petite-caps;
    font-size: 40px;
    color: #000080;
}

nav {
    text-align: center;
}

a {
    background-color: #c5c5c5;
    color: #000000;
}

section {
    background-color: #7f7f7f;
}

img {
    display: none;
}