header{
    background-color: #515A5A ;
}
h1{
    font-variant: small-caps;
    text-align: center;
    color: #FDFEFE;
}
a{
    color: #17202A;
    background-color: #E5E7E9;
}
h2{
    font-variant: small-caps;
    color: #000080;
}

section{
    background-color: #AAB7B8;
}

.left{
    display: none;
}